.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.user-name {
    margin-left: 50px;
    font-size: 25px;
    font-weight: 600;
}